@import "../fontawesome-free-6.1.1-web/scss/fontawesome.scss";
@import "../fontawesome-free-6.1.1-web/scss/solid.scss";
@import "../fontawesome-free-6.1.1-web/scss/brands.scss";
@import "../fontawesome-free-6.1.1-web/scss/regular.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,400&display=swap");

$roboto-flex: "Roboto Flex", sans-serif;
$thin: 100;
$regular: 400;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: blue; /* For browsers that do not support gradients */
	background-image: linear-gradient(to right, blue, rgb(230, 0, 65));
	height: 100vh;
	display: flex;
	font-family: $roboto-flex;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: grey;
	opacity: 1; /* Firefox */
}

main {
	width: 100%;
	height: 100%;
	margin: auto;
	background-color: #ffffff;
}

.app__navigation {
	width: 100%;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.app__form {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: blue; /* For browsers that do not support gradients */
	background-image: linear-gradient(to right, blue, rgb(230, 0, 65));
	border-radius: 0 0 15px 15px;
	box-shadow: 0px 0px 29px 4px rgba(66, 68, 90, 1);
}

.app__div {
	margin: 10px auto;
	width: 75%;
}

.app__div--activity {
	position: relative;
}

input {
	border: none;
	width: 100%;
	height: 40px;
	padding: 10px;
	font-size: 12px;
	box-shadow: inset 0px 0px 17px -10px rgba(4, 2, 0, 1);
}

.input__addBtn {
	position: absolute;
	align-items: center;
	right: 0;
	width: 10%;
	height: 100%;
	border-radius: 100%;
	border: none;
	font-size: 30px;
}

.hidden {
	display: none;
}

.app__deleteicon {
	color: red;
}

.app__value {
	flex-grow: 4;
}

.app__completeicon {
	color: green;
	margin-left: 40px;
}

.app__deleteicon {
	position: relative;
}

.app__deleteicon::after {
	content: "";
	width: 1px;
	margin-left: 20px;
	height: 100%;
	background-color: black;
	position: absolute;
}

.app__completeicon:hover,
.app__deleteicon:hover {
	opacity: 0.5;
}

.app__activetext,
.app__donetext {
	font-weight: $thin;
}

.input__activity {
	border-radius: 5px 25px 25px 5px;
}

.input__search {
	border-radius: 5px;
}

.app__tasks {
	width: 100%;
	height: 80%;
	margin-top: 15px;
	overflow: scroll;
}

.app__tasks > * {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 75%;
	margin: auto;
}

.app__line {
	height: 1px;
	opacity: 0.2;
	background-color: black;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 60%;
}

.app__task {
	display: flex;
	background-color: white;
	align-items: center;
	width: 100%;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 17px -10px rgba(4, 2, 0, 1);
	font-weight: $regular;
}

.app__task.hidden {
	display: none;
}

li {
	list-style-type: none;
}
